[submodule "android-audio-plugin-framework"]
	path = external/android-audio-plugin-framework
	url = https://github.com/atsushieno/android-audio-plugin-framework.git
[submodule "external/andes"]
	path = external/andes
	url = https://github.com/artfwo/andes.git
[submodule "external/juce_emscripten"]
	path = external/juce_emscripten
	url = https://github.com/atsushieno/JUCE.git
	branch = juce_emscripten
