[submodule "android-audio-plugin-framework"]
	path = external/android-audio-plugin-framework
	url = https://github.com/atsushieno/android-audio-plugin-framework.git
[submodule "external/andes"]
	path = external/andes
	url = https://github.com/artfwo/andes.git
[submodule "external/juce_emscripten"]
	path = external/juce_emscripten
	url = https://github.com/atsushieno/JUCE.git
	branch = juce_emscripten
[submodule "external/SARAH"]
	path = external/SARAH
	url = https://github.com/getdunne/SARAH/
[submodule "external/Magical8bitPlug2"]
	path = external/Magical8bitPlug2
	url = https://github.com/yokemura/Magical8bitPlug2.git
[submodule "external/dexed"]
	path = external/dexed
	url = https://github.com/atsushieno/dexed.git
