[submodule "android-audio-plugin-framework"]
	path = external/android-audio-plugin-framework
	url = https://github.com/atsushieno/android-audio-plugin-framework.git
[submodule "external/andes"]
	path = external/andes
	url = https://github.com/artfwo/andes.git
[submodule "external/juce_emscripten"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "external/SARAH"]
	path = external/SARAH
	url = https://github.com/getdunne/SARAH/
[submodule "external/Magical8bitPlug2"]
	path = external/Magical8bitPlug2
	url = https://github.com/yokemura/Magical8bitPlug2.git
[submodule "external/dexed"]
	path = external/dexed
	url = https://github.com/asb2m10/dexed.git
[submodule "external/OB-Xd"]
	path = external/OB-Xd
	url = https://github.com/reales/OB-Xd.git
[submodule "external/ADLplug"]
	path = external/ADLplug
	url = https://github.com/atsushieno/ADLplug.git
